<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Saint Mary's Press Code Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body ng-controller="mainController">
    <div class="">
      <header>
        <nav class="navbar navbar-default">
            <ul class="nav site-nav">
              <li><b>HOME</b></li>
              <li><b>WORK</b></li>
              <li><b>ABOUT</b></li>
              <li><b>CONTACT</b></li>
            </ul>
            <ul class="nav media-nav">
              <li><img src="images/navbar_images/youtube.png" alt=""></li>
              <li><img src="images/navbar_images/twitter.png" alt=""></li>
              <li><img src="images/navbar_images/facebook.png" alt=""></li>
            </ul>
        </nav>
        <div class="title">
          <h1>My Design Portfolio</h1>
          <h6>DESIGN SOLUTIONS FOR YOUR BUSINESS</h6>
        </div>
      </header>

      <section class="feature">
        <!-- <img src="images/main_feature_images/feature-bg.jpg" alt=""> -->
        <div class="row">
          <div class="block col">
            <img src="images/main_feature_images/web.png" alt="">
            <h5>WEB DESIGN</h5>
          </div>
          <div class="block col">
            <img src="images/main_feature_images/graphic.png" alt="">
            <h5>GRAPHIC DESIGN</h5>
          </div>
          <div class="block col">
            <img src="images/main_feature_images/video.png" alt="">
            <h5>VIDEO PRODUCTION</h5>
          </div>
        </div>
      </section>

      <div class="design">
        <h2>Design Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim tempus nisl pulvinar feugiat. Praesent pharetra ac justo at cursus.
        Aliquam vitae est eros. Mauris mattis faucibus nisi, eu hendrerit leo ultrices vitae. Duis sit amet elementum lectus. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eros arcu, tincidunt non scelerisque vel, sodales quis erat. Mauris
        nec ligula eu libero faucibus scelerisque in in neque. Suspendisse ultricies</p>
      </div>

      <section id="portfolio">
        <h2>Portfolio</h2>
        <div class="row pictures">
          <div class="col portfolio">
            <img class="picture" src="images/portfolio_images/laptops.jpg" alt="">
            <span>Lorem ipsum<br/> dolor sit amet</span>
            <img src="images/main_feature_images/web-small.png" class="portfolio-image" alt="">
          </div>
          <div class="col portfolio">
            <img class="picture" src="images/portfolio_images/acmelogo.gif" alt="">
            <span>Lorem ipsum<br/> dolor sit amet</span>
            <img src="images/main_feature_images/graphic-small.png" class="portfolio-image" alt="">
          </div>
          <div class="col portfolio">
            <img class="picture" src="images/portfolio_images/tablet.jpg" alt="">
            <span>Lorem ipsum<br/> dolor sit amet</span>
            <img src="images/main_feature_images/video-small.png" class="portfolio-image" alt="">
          </div>
          <div class="col portfolio">
            <img class="picture" src="images/portfolio_images/alogo.gif" alt="">
            <span>Lorem ipsum<br/> dolor sit amet</span>
            <img src="images/main_feature_images/graphic-small.png" class="portfolio-image" alt="">
          <div>
        </div>
      </section>

      <footer>
        <div class="row footer">
          <div class="info col" id="blog">
            <h5>From the Blog</h5>
            <p><b>Lorem ipsum dolor sit</b> <br/>
            <i>on March 10, 2014</i></p>
            <p><b>Consectetur Adipisicing Elit</b> <br/>
            <i>on March 10, 2014</i></p>
            <p><b>Lorem ipsum dolor sit</b> <br/>
            <i>on March 10, 2014</i></p>
          </div>

          <div class="info col" id="contact">
            <h5>Contact Us</h5>
            <p>123 45th Street <br/>
            Podunk, TX 77777</p>
            <p>(555)555-5555</p>
            <p><i>info@email.com</i></p>
          </div>

          <div class="info col" id="form">
            <h5>Register for Updates</h5>
            <form name="updates" ng-submit="subscribe()">
              <div>
                <input ng-model="name" type="text" placeholder="Name" name="" value="" required>
              </div>
              <div>
                <input ng-model="email" type="text" placeholder="Email@Address.com" name="" value="" required>
              </div>
              <input id="button" type="submit" name="submit" value="Submit">
              <p ng-show="valid">form has been submitted successfully.</p>
            </form>
          </div>
        </div>

        <div class="copyright">
          <p>&copy;copyright 2014, My Portfolio Designs</p>
        </div>
      </footer>
    </div>
  </body>
</html>
