/*navigation bar*/
nav {
  background-color: #d9d9d9;
}

.site-nav {
  position: absolute;
}

.site-nav li {
  color: white;
  font-size: 12px;
  margin-left: 30px;
  padding-top: 5px;
}

.media-nav {
  margin-left: 1080px;
}

.media-nav li {
  margin-left: 15px;
}


/*title section*/
.title {
  height: 100px;
  text-align: center;
}

h2, .info h5, h6 {
  color: #ff6666;
  font-family: sabon;
}

h1 {
  color: #595959;
  font-family: sabon;
  font-size: 50px;
  margin-top: 10px;
}

h6 {
  font-size: 21px;
}


/*feature section*/
.feature {
  background-image: url("images/main_feature_images/feature-bg.jpg");
  height: 300px;
}

.block {
  border: 1px white solid;
  height: 300px;
}

.block img {
  display: block;
  margin: 80px auto 0 auto;
}

.block h5 {
  color: white;
  margin-top: 5px;
  text-align: center;
}


/*Design section*/
h2 {
  font-size: 50px;
  padding-top: 10px;
}

.design, #portfolio h2, #blog {
  margin-left: 40px;
}

.design p {
  font-size: 20px;
  margin-right: 40px;
}


/*portfolio section*/
#portfolio {
  background-color: #d9d9d9;
}

.portfolio {
  display: inline;
  height: 200px;
  width: 200px;
}

.portfolio img:first-child {
  position: relative;
  width: 100%;
}

.portfolio-image {
  left: 247px;
  position: absolute;
  top: 180px;
}

.portfolio span {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  left: 15px;
  padding-left: 5px;
  position: absolute;
  top: 175px;
  width: 275px;
}

.pictures {
  margin-left: 27px;
  margin-right: 34px;
  padding-bottom: 50px;
}

.picture {
  height: 220px;
  width: 220px;
}


/*footer and info section*/
footer {
  background-color: #262626;
}

footer p {
  color: #bfbfbf;
  font-size: 12px;
}

footer h5 {
  font-size: 30px;
}

.info {
  display: inline;
  height: 200px;
  margin-top: 20px;
}

input {
  background-color: #404040;
  border: 2px #808080 solid;
  margin-bottom: 12px;
}

input::placeholder {
  color: #808080;
}

input, button {
  width: 265px;
}

#button {
  background-color: #ff6666;
  border: 1px black solid;
  color: white;
}

.copyright {
  background-color: #1a1a1a;
  height: 100%;
}

.copyright p {
  color: #bfbfbf;
  padding-top: 10px;
  text-align: center;
}
